
{% extends "layout.html" %}

{% block main %}
<div id="page-wrapper">

    <div class="container-fluid">
        <h1><b>Add Book</b></h1>
        <form action="/addBook" method="POST" class="form-vertical">
            
            <div class="form-group">
                <label for="nameBook" class="col-sm-2 control-label">Name of Book</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="nameBook" id="nameBook" placeholder="Name of Book">
                </div>
                
            </div>
            <div class="form-group">
            <div class="col-sm-5">
                <select class = "form-control" name = "classes">
                    <option value = '0'>Please select the class that goes with the book:</option>
                    {% for class in classes %}
                        <option value = '{{class[1]}}'>{{class[1]}}</option>
                    {% endfor %} 
                </select>
            </div>
            </div>

    <br>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-success">Create Book</button>
        </div>
    </div>



    </form>

</div>
</div>
{% endblock %}