
{% extends "layout.html" %}

{% block main %}
<div id="page-wrapper">

    <div class="container-fluid">

<script src="static/js/addInput.js" language="Javascript" type="text/javascript"></script>



<h1><b>All Chapters</b></h1> 


{% if books %}
<form method="POST" action = '/allChapter' class="form-vertical">
     <!--<input type = "text" id = "counter" name = "counter" value = "">-->
     
     <div class="form-group">
            <div class="col-sm-5">
                <label for = "book">Please select a book to see the chapters.</label>
     <select name = "book">
         {% for book in books %}
         <option value = "{{book[0]}}">{{book[0]}}</option> 
         {% endfor %}
     </select>
     </div>
     </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-success">Select</button>
        </div>
    </div>
</form>
{% endif %}
{% if allChapters %}

<a class="btn btn-warning" href="/allChapter" role="button">Back</a><br><br>
    <table class="table table-striped">
        <tr>
            <th>Book</th>
            <th>Chapter</th>
        </tr>
    
    
    {% for chapter in allChapters %}
        <tr>
            <td>{{chapter[0]}}</td>
            <td>{{chapter[1]}}</td>
        <!--<td>user.class</td>-->
        </tr>
    {% endfor %}

{% endif %}
</div>
</div>
{% endblock %}