
{% extends "layout.html" %}

{% block main %}
<div id="page-wrapper">
            
    <div class="container-fluid">
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>User Type</th>
            <th>Classes</th>
        </tr>
    
    
    {% for user in users %}
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <!--<td>user.class</td>-->
        </tr>
    {% endfor %}
    </table>      
    </div>
</div>
{% endblock %}