<html>
    <head>
        <title>SVFD Truck Checks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/login.css">
  
        <script type = "text/javascript" src = "/static/js/login.js"></script>
    </head>
<div class="login-page">
  <div class="form">
    <form class="login-form" action = "/" method = "POST">
      <input name = "username" type="text" placeholder="username"/>
      <input name = "password" type="password" placeholder="password"/>
      <button>login</button>
    </form>
  </div>
</div>
</html>