{% extends "layout.html" %}

{% block content %}

<form action = '/step2' method = 'POST' class="form-horizontal">
    
    <h2><b>Main</b></h2>
    <input type = "hidden" name = "check_id" value = '{{engID}}'>
    <input type = "hidden" name = "rescue_engine" value = '{{rescue_engine}}'>
    <table class="table table-bordered">
    
    <tr>
      <th>Fuel Card</th>
      <td>
        <div class="checkbox">
          <label>
            <input type="checkbox" name = "fuelCard">
          </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Headlights</th>
      <td>
        <div class="checkbox">
        <label>
          <input type="checkbox" name = "headlights">
        </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Marker Lights</th>
      <td>
        <div class="checkbox">
        <label>
          <input type="checkbox" name = "markerlights">
        </label>
        </div>
      </td>
    </tr>
      

    <tr>
      <th>Turn Signals</th>
      <td>
        <div class="checkbox">
        <label>
          <input type="checkbox" name = "turnsignals">
        </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Warning Lights</th>
      <td>
        <div class="checkbox">
        <label>
          <input type="checkbox" name = "warninglights">
        </label>
        </div>
      </td>
    </tr>
      
    <tr>
      <th>Siren</th>
      <td>
        <div class="checkbox">
        <label>
          <input type="checkbox" name = "siren"> 
        </label>
        </div>
      </td>
    </tr>
      
      
    <tr>
      <th>Airhorn</th>
      <td>
        <div class="checkbox">
        <label>
          <input type="checkbox" name = "airhorn">
        </label>
        </div>
      </td>
    </tr>
      
    <tr>
      <th>Tires</th>
      <td>
        <div class="checkbox">
        <label>
          <input type="checkbox" name = "tires">
        </label>
        </div>
      </td>
    </tr>
      
    <tr>
      <td></td>
      <td><button type="submit" class="btn btn-primary">Next</button></td>
    </tr>  
      
      
      </table>
      </form>


{% endblock %}