{% extends "layout.html" %}

{% block content %}

<form action = '/step6' method = 'POST' class="form-horizontal">
    <h2><b>EMS Equipment</b></h2>
    
    <input type = "hidden" name = "check_id" value = '{{engID}}'>

    <table class="table table-bordered">
    
    <tr>
        <th>Oxygen Level</th>
        <td>
            <div class="col-sm-5">
                  <input type="number" class="form-control" name = "o2level" required>
            </div>
        </td>
    </tr>
    
    <tr>
        <th>EMS Jump Bags</th>
        <td>
            <div class="checkbox">
                    <label>
                  <input type="checkbox" name = "jumpbag">
                </label>
            </div>  
        </td>
    </tr>
    
    <tr>
        <th>Spare Oxygen</th>
        <td>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name = "spareo2">
                </label>
            </div>
        </td>
    </tr>
    
    <tr>
        <th>Collar Bag</th>
        <td>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name = "collarbag">
                </label>
            </div>  
        </td>
    </tr>
    
    <tr>
        <th>Gloves (S,M,L,Xl)</th>
        <td>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name = "golves">
                </label>
            </div> 
        </td>
    </tr>
    
    <tr>
        <th>Clipboard/Forms</th>
        <td>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name = "clipboard">
                </label>
            </div>
        </td>
    </tr>

    <tr>
        <th>Suction Unit</th>
        <td>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name = "suckunit">
                </label>
            </div>
        </td>
    </tr>
    
    <tr>
        <th>Triage Bag</th>
        <td>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name = "triagebag">
                </label>
            </div>
        </td>
    </tr>
    
    <tr>
        <th>LifePak or AED</th>
        <td>
            <div class="col-sm-5">
                <label class="radio-inline">
                    <input type="radio" name="lifepak" value="pass"> Pass
                </label>
                <label class="radio-inline">
                    <input type="radio" name="lifepak" value="fail"> Fail
                </label>
            </div> 
        </td>
    </tr>
    
    <tr>
        <th>Tough Book</th>
        <td>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name = "toughbook"> 
                </label>
            </div>
        </td>
    </tr>
    
    <tr>
        <th bgcolor="#999999"></th>
        <td bgcolor="#999999"></td>
    </tr>

    <tr>
        <th>Notes:</th>
        <td>
            <div class="col-sm-5">
                  <textarea name = "notes" class="form-control" rows="3"></textarea>
            </div>
        </td>
    </tr>
  
  
    
  <tr>
      <td></td>
      <td><button type="submit" class="btn btn-primary">Finish</button></td>
  </tr>
  </table>
  </form>


{% endblock %}