{% extends "layout.html" %}

{% block content %}

<form action = '/step5' method = 'POST' class="form-horizontal">
    
    <h2><b>Tools/Equipment</b></h2>
    <input type = "hidden" name = "check_id" value = '{{engID}}'>
    <input type = "hidden" name = "rescue_engine" value = '{{rescue_engine}}'>
    
    
    <table class="table table-bordered">
    
    <tr>
      <th>4 Gas Monitor (2)</th>
      <td>
        <div class="col-sm-5">
          <input type="number" class="form-control" name = "gasmonitor" required>
        </div>
      </td>
    </tr>
    <tr>
      <th>Handlights</th>
      <td>
        <div class="col-sm-5">
          <input type="number" class="form-control" name = "handlights" required>
        </div>
      </td>
    </tr>
    <tr>
      <th>Smoke Dectectors (3)</th>
      <td>
        <div class="col-sm-5">
          <input type="number" class="form-control" name = "smokedetectors" required>
        </div>
      </td>
    </tr>
    <tr>
      <th>9 Volt Batteries (10)</th>
      <td>
        <div class="col-sm-5">
          <input type="number" class="form-control" name = "batteries" required>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>SCBA (6)</th>
      <td>
        <div class="col-sm-5">
          <input type="number" class="form-control" name = "SCBA" required>
        </div>
      </td>
    </tr> 
    
    <tr>
      <th>Road Flares (6)</th>
      <td>
        <div class="col-sm-5">
          <input type="number" class="form-control" name = "roadflares" required>
        </div>
      </td>
    </tr>
    <tr>
      <th>E-Road Flares (6)</th>
      <td>
        <div class="col-sm-5">
          <input type="number" class="form-control" name = "portRadio" required>
        </div>
      </td>
    </tr>
    
    
    <tr>
      <th>Thermal Imager (+battery)</th>
      <td>
        <div class="checkbox">
          <label>
            <input type="checkbox" name = "thermalimager">
          </label>
      </div>
      </td>
    </tr>
    
    <tr>
      <th>Pack Tracker</th>
      <td>
          <div class="checkbox">
              <label>
                <input type="checkbox" name = "paktracker">
              </label>
          </div>
      </td>
    </tr>
    
    <tr>
      <th>Ladder (3)</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "ladders">
            </label>
        </div>
      </td>
    </tr>

    <tr>
      <th>Binoculars</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "binoculars">
            </label>
        </div>
      </td>
    </tr>
       
    <tr>
      <th>RIT Pack</th>
      <td>
        <div class="checkbox">
          <label>
            <input type="checkbox" name = "RITpack">
          </label>
        </div>
      </td>
    </tr>
    
    

    <tr>
      <th>Hoses and Nozzles</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "hosenozzles">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Appliances and Adapters</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "appliances">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Road Sign</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "roadsign">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Absorbant</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "absorbant">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Handtools</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "handtools"> 
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Sawzall</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "sawzall">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Chemney Kit</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "chimneykit">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Saws</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "saws">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Extinguishers</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "extinguishers">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Fans (PPV, NPV)</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "fans">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Spill Containment Kit</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "spillcont">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Salvage Equipment</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "salvage">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Lifeline</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "lifeline">
            </label>
        </div>
      </td>
    </tr>
    <tr>
      <th>Utility Rope</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "utilityrope"> 
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Rigging Bag</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "rigging"> 
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Pike Poles</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "pikepoles">
            </label>
        </div>
      </td>
    </tr>

    <tr>
      <th>Portable Lights/Pigtails</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "electicalequip">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Honda Light</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "hondalight">
            </label>
        </div>
      </td>
    </tr>

    <!--Need to add the wagon info-->
    {% if rescue_engine == 'rescue_engine' %}
    <tr>
        <th bgcolor="#999999">Extrication Equipment</th>
        <td bgcolor="#999999"></td>
    </tr>
    
    <tr>
      <th>Cribbing</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "cribbing"> 
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Spreaders</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "spreaders"> 
            </label>
        </div>            
      </td>
    </tr>
    
    <tr>
      <th>O Cutters</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "ocutters">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Hydraulic Pump</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "hydropump">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Paratech</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "paratech"> 
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>L Channels</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "lchannel">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Porta Pump</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "portaPump"> Porta Pump
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th> Air Bags</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "airbags">
            </label>
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Air Bag Controller</th>
      <td>
        <div class="checkbox">
            <label>
              <input type="checkbox" name = "airbagcontroller">
            </label>
        </div>
      </td>
    </tr>
    
    
    
    
    
    
    {% endif %}
    
    <!--Need to add handlights as a number field maybe change the radios too-->
    
    <tr>
      <td></td>
      <td><button type="submit" class="btn btn-primary">Next</button></td>
    </tr>
    </table>
    </form>


{% endblock %}