{% extends "layout.html" %}

{% block content %}

<form action = '/step4' method = 'POST' class="form-horizontal">
    
    <h2><b>Communication</b></h2>
        <input type = "hidden" name = "check_id" value = '{{engID}}'>
        <input type = "hidden" name = "rescue_engine" value = '{{rescue_engine}}'>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name = "helmetmarkers"> Helmet Markers(6)
        </label>
      </div>
      
    <div class="form-group">
    <label for="portRadio" class="col-sm-2 control-label">Portable Radios (4)</label>
    <div class="col-sm-5">
          <input type="number" class="form-control" name = "portRadio" required>
    </div>
    </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name = "passport"> Passports(x-ray)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name = "commandboard"> Command Board
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name = "erg"> ERG/Terrorism Guide
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name = "mapbooks"> Mapbooks (MSAG, First Due Book, ADC)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name = "headsets"> Headsets(6)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name = "forms"> Forms(6 each)
        </label>
      </div>
      
        <button type="submit" class="btn btn-primary">Next</button>
      
      </form>


{% endblock %}