{% extends "layout.html" %}

{% block content %}

<form action = '/step4' method = 'POST' class="form-horizontal">
    
    <h2><b>Communication</b></h2>
        <input type = "hidden" name = "check_id" value = '{{engID}}'>
        <input type = "hidden" name = "rescue_engine" value = '{{rescue_engine}}'>
    <table class="table table-bordered">
      <tr>
        <th>Portable Radios (4)</th>
        <td>
          <div class="col-sm-5">
            <input type="number" class="form-control" name = "portRadio" required>
          </div>
        </td>
      </tr>
      
      <tr>
        <th>Helmet Markers (6)</th>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name = "helmetmarkers">
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <th>Passports (x-ray)</th>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name = "passport">
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <th>Command Boards</th>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name = "commandboard"> 
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <th>ERG/Terrorism Guide</th>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name = "erg">
            </label>
          </div>    
        </td>
      </tr>
      <tr>
        <th>Mapbooks (MSAG, First Due Book, ADC)</th>
        <td>
          <div class="checkbox">
              <label>
              <input type="checkbox" name = "mapbooks">
            </label>
          </div>  
        </td>
      </tr>
      <tr>
        <th>Headsets(6)</th>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name = "headsets"> 
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <th>Forms(6 each)</th>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name = "forms"> 
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <td></td>
        <td><button type="submit" class="btn btn-primary">Next</button></td>
      </tr>
      </table>  
    </form>


{% endblock %}