{% extends "layout.html" %}

{% block content %}

<form action = '/step1' method = 'POST' class="form-horizontal">
    <!--Need to add driver and officer blocks-->
    <h2><b>Daily Fire Apparatus Inspection</b></h2>
    <table class="table table-bordered">
        <tr>
        <th>Truck</th>
            <td>
                <div class="col-sm-6">
                    <label class="radio-inline">
                        <input type="radio" name="truck" value="rescue_engine"> Rescue Engine
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="truck" value="engine"> Engine
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="truck" value="brush"> Brush
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="truck" value="tanker"> Tanker
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th>Driver</th>
            <td>
    
                <div class="col-sm-5">
                <select class="form-control" name = "driver">
                    <option value = "" selected></option>
                    {% for driver in drivers %}
                        <option value = "{{driver[0]}}">{{driver[1]}}</option>
                    {% endfor %}
                </select>
                </div>
            </td>
        </tr>
        <tr>
            <th>Officer</th>
            <td>
                <div class="col-sm-5">
                    <select class="form-control" name = "officer">
                    <option value = "" selected></option>
                    {% for officer in officers %}
                        <option value = "{{officer[0]}}">{{officer[1]}}</option>
                    {% endfor %}
                    </select>
                    </div>
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                <div class="col-sm-5">
                  <input type="date" class="form-control" name = "date" required>
                </div>
            </td>
        </tr>
        <tr>
            <th>Mileage</th>
            <td>
                <div class="col-sm-5">
                  <input type="number" class="form-control" name = "mileage" required>
                </div>
            </td>
        </tr>
        <tr>
            <th>Engine Hours</th>
            <td>
                <div class="col-sm-5">
                  <input type="number" class="form-control" name = "hours" required>
                </div>
            </td>
        </tr>
        <tr>
            <th>Fuel Level</th>
            <td>
                <div class="col-sm-5">
                    <label class="radio-inline">
                        <input type="radio" name="fuel" value="full"> Full
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fuel" value="3/4"> 3/4
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fuel" value="1/2"> 1/2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fuel" value="1/4"> 1/4
                    </label>
                </div>
            </td>
        </tr>
    <tr>
        <td></td>
        <td><button type="submit" class="btn btn-primary">Next</button></td>
    </tr>

    </table>
    
</form>


{% endblock %}